name: setup login
on:
  workflow_dispatch:
    inputs:
      BRANCH_TAG: 
        description: 'Branch to Build. 1.Image built on branch main/release/hotfix are targeted for PROD ACR. 2.Image built on branch feature/develop are targeted for DEV ACR '
        required: true
        type: string
jobs:
  sort-value:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: value sorting and push to github secrets
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          value="username=pet_moni;password=FBASIUFL49RO3RJ4RH7E6F5452E03009895667323*^#$%@@#* O8R76R7823R&^(#9I;lb_ip=10.0.0.16"

          # Method 1: Using sed to extract each variable
          username=$(echo "$value" | grep -oP 'username=\K[^;]+')
          password=$(echo "$value" | grep -oP 'password=\K[^;]+')
          lb_ip=$(echo "$value" | grep -oP 'lb_ip=\K[^;]+')

          # Store values in GitHub Secrets
          gh secret set DEPLOY_USERNAME --body "$username"
          gh secret set DEPLOY_PASSWORD --body "$password"
          gh secret set DEPLOY_LB_IP --body "$lb_ip"
          
          echo "Secrets stored successfully"
